Source: pdal
Maintainer: Christian Fuchs <kontaktierbar@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: pdal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Point Data Abstraction Library
 PDAL is a BSD licensed library for translating and manipulating point cloud
 data of various formats. PDAL can be used to read, write and translate point
 cloud data in many formats. Support is included for input files of LAS, LAZ,
 SBET, BPF, QFIT and others. PDAL can also read from and write to databases
 that support point cloud storage, including Oracle, Postgres and SQLite.
 .
 PDAL should not be confused with PCL (Point Cloud Library). PCL is a library
 specifically designed to provide algorithmic analysis and modification of
 point clouds. PDAL provides a limited interface to the facilities of PCL, but
 does not in general attempt to duplicate its capabilities.
